

<div class="row">
  <div class="col-sm-4 offset-sm-4 jumbotron-fluid">
    
    <div class="text-center mb-5">
      <h1 class="text-info">Talk Time</h1>
    </div>

    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <div class="form-group ">
        <%= f.label :email, 'Email'%>
        <%= f.email_field :email, :placeholder => "email", class: 'form-control' %>
      </div>

      <div class="form-group ">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, :placeholder => "password", class: 'form-control ' %>
      </div>
      
      <div class="form-group">
        <%= f.label :remenber_me, class:"checkbox inline" do %>
         <%=f.check_box :remenber_me %>
         <span>Remenber me on this computer</span>
        <% end %>
      </div>
        

      <%= f.submit 'Log in', class: 'btn btn-primary btn-block mt-5' %>
    <% end %>

    <p>New user? <%= link_to 'Sign up now!', signup_path %></p>
  </div>
</div>