
<% if users.any? %>

 <div class=" mt-5 ">
  
  <ul class="list-unstyled  row">
   <% users.each do |user| %>
     <li class="media mb-4 col-sm-6">
    
      <% if user.image_url %>
           <%= image_tag user.image_url(:thumb1), class:"rounded-circle" %>
      <% else %>
            <img class="rounded img-fluid" src="<%= gravatar_url(user, { size: 80 }) %>" alt="">
      <% end %>
     <div class="media-body ml-5 text-justify">
      <% if user.name %>
         <h5><%= link_to user.name , user_path(user) %></h5>
      <% else %>
         <h5><%= link_to 'unknown' , user_path(user) %></h5>
      <% end %>
         
         <p> 学習言語:<%= user.language1&.lang1 %>&nbsp;&nbsp;&nbsp;&nbsp;母国語:<%= user.language&.lang2 %></p>
         <p><%= user.profile %></p>
     </div>
     
    
     </li>
   <% end %>
 </ul>
 </div>

<% paginate users %>
<% end %>


         
