<% if logged_in? %>
<div class="show1 ">
       <div class="text-center">
              <h1 class="pt-4">友達を見つけよう</h1>
              <% if logged_in? %>
               <% if @recommends.any? %>
                 <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                 おすすめユーザーを探す
                 </button>
               <% end %>
              <% end %>
              <p id="count" class="mt-3">自分が学びたい言語で絞り込もう</p>
              
       </div>
</div>
<% else %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 >言葉の世界へようこそ</h1>
    <h5 class="mt-3">自分の趣味を投稿し、多くの人とつながりコミュニケーションを取ろう</h5>
    <p><%= link_to "Talk Timeに登録", signup_path, class:"btn btn-info mt-5" %></p>
  </div>
</div>

<% end %>
    



<div class="row">
<div class="offset-sm-2 border-bottom">
        
<h2 class="mb-5 mt-5 heading"><i class="fas fa-users mr-3"></i>ユーザ一覧</h2>

<%= form_with url: users_path, method: :get do |f| %>
       <%= select_tag :language_id, 
              options_from_collection_for_select(Language.all, :id, :lang2, params[:language_id]),
              {
                  prompt: "母国語で絞込",
                  
                  
                  
                  
                  
              }
       %>
<%= f.submit %>
<% end %>
<% unless logged_in? %>
<p class="mt-5">ユーザーの詳細を表示するにはログインしてください</p>
<% end %>
</div>

</div>


<div id="user_list">
<%= render "users", users: @users %>
</div>

<div class="row">
<div class="offset-sm-2">
<h2 class="mb-5 mt-5 heading">投稿一覧</h2>
<%= form_tag users_path, method: :get, class: 'boards__searchForm' do %>
       <%= select_tag :category_id, 
              options_from_collection_for_select(Category.all, :id, :name, params[:category_id]),
              {
                  prompt: "カテゴリーで絞込",
                  onchange: "submit(this.form);"
              }
       %>
<% end %>
<% unless logged_in? %>
<p class="mt-5">投稿の詳細を表示するにはログインしてください</p>
<% end %>
</div>
</div>
<div class=row>
    <div class="col-sm-10 offset-sm-2">
<%= render "posts/posts", posts: @posts %>
   </div>
 </div>






 <!--Modal -->
<% if logged_in? %>
<% if @recommends.any? %>
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">おすすめユーザー</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
       <div class="row">
         <div class="col-sm-12">
          <ul class="list-unstyled row">
            <% @recommends.each do |recommend| %>
            <% unless current_user.following?(recommend) %>
            <li class="media mb-3 border-bottom col-sm-12">
                <% if recommend.image_url %>
                 <%= image_tag recommend.image_url(:thumb), class:"rounded-circle" %>
                <% else %>
                 <img class="rounded img-fluid" src="<%= gravatar_url(recommend, { size: 100 }) %>" alt="">
                <% end %>
                <div class="media-body ml-5 text-justify mb-3">
                <h5><%= link_to recommend.name , user_path(recommend) %></h5><p> 学習言語:<%= recommend.language1&.lang1 %>&nbsp;&nbsp;母国語:<%= recommend.language&.lang2 %></p>
                 <p><%= recommend.profile %><%= recommend.id %></p>
                 <div id="follow_form1-<%= recommend.id %>">
                  <%= render "relationships/follow_button", user: recommend %>
                 </div>
                 
               </div>
               
            </li>
            <% end %>
            <% end %>
         </ul>
         </div>
       </div>
        
        
        
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>