
 <div class="row">
    <aside class="offset-sm-1 col-sm-3">
        <div class="card" style="width: 25rem;">
                   <% if @user.image_url %>
                     <%= image_tag @user.image_url ,class:"card-img-top"%>
                    <% else %>
                      <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 300 }) %>" alt="">
                    <% end %>
            
            <div class="card-body">
                <h6><%= @user.name %></h6>
                <p class="card-text">学習言語:&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.language1&.lang1 %></p>
                <p class="card-text">母国語:&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.language&.lang2 %></p>
                <p class="card-text">プロフィール<br><%= simple_format(@user.profile) %></p>
                
                
                
              <div class="row">
                  
                <div class="col-sm-5">
                <div class="followers">
                <a id="followings" href="<%= followings_user_path(@user) %>">フォロー数 <span><%= @count_followings %></span></a></br>
                <a  id="followers" href="<%= followers_user_path(@user) %>" >フォロワー数<span><%= @count_followers %></span></a>
                </div>
                <% if current_user == @user %>
                 <div>
                  <%= link_to "プロフィール編集", edit_user_path(@user) %>
                 </div>
                <% end %>
                </div>
                
               </div>
               
               
                
                <div class="row">
                  <div class="mt-3 offset-sm-4" id="follow_form">
                  <%= render "relationships/follow_button", user: @user %>
                  </div>
                </div>
                
                
                
            </div>
        </div>
    </aside>
    <div class="col-sm-6 offset-sm-1 border rounded">
        <div class="row heading1">
            <h4 class="col-sm-3">投稿一覧</h4>
            <% if current_user == @user %>
              <%= link_to "新規投稿", new_post_path, class:"btn btn-outline-info bnt-sm" %>
            <% end %>
            
        </div>
        <div id="pp">
          <%= render "posts/posts" , posts: @posts %>
        </div>
       
    </div>
</div>


 



