
 <div class="row">
    <aside class="col-sm-4">
        <div class="card" style="width: 22rem;">
            <div class="card-header">
                <h5 class="card-title"><%= @user.name %></h5>
            </div>
            <div class="card-body">
                
             
                <% if @user.image_url %>
                     <%= image_tag @user.image_url %>
                    <% else %>
                      <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 300 }) %>" alt="">
                    <% end %>
                
                
            
                <p class="card-text">母国語:&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.lang1 %></p>
                <p class="card-text">第二言語:&nbsp;&nbsp;&nbsp;&nbsp;  <%= @user.lang2 %></p>
                <p class="card-text">プロフィール<br><%= @user.profile %></p>
                
                <a href="<%= followings_user_path(@user) %>">フォロー数 <span class="badge badge-secondary"><%= @count_followings %></span></a></br>
                <a href="<%= followers_user_path(@user) %>" >フォロワー数<span class="badge badge-secondary"><%= @count_followers %></span></a>
                <% if current_user == @user %>
                 <div>
                  <%= link_to "プロフィール編集", edit_user_path(@user) %>
                 </div>
                <% end %>
                <%= render "relationships/follow_button", user: @user %>
                <div class="text-right mt-4">
                <a href="#" class="btn btn-primary">Chat</a>
                </div>
            </div>
        </div>
    </aside>
    <div class="col-sm-7 offset-sm-1">
        <div>
            <h4>投稿一覧</h4>
        </div>
        <%= render "posts/posts" , posts: @post %>
       
    </div>
</div>
