        
<div class="row">
    <div class="col-sm-4">
<% @comments.each do |c| %>    
    <div class="row ml-5">
        <div class="media-body ml-5 mb-3 mt-3 class-sm-9 border-top border-bottom">
            <%= link_to c.user.name, user_path(c.user) %>
            <%= c.created_at %>
            <p class="mt-4"><%= c.content %></p>
            <% if current_user == c.user %>
              <%= link_to "コメントを削除" , c, method: :delete %>
            <% end %>
        </div>
    </div>
<% end %>
 </div>

                     
        
        
   
<div class="col-sm-8"> 
    <div class="row ml-5 mt-5">
        <div clas="col-sm-3">
               <% if @post.user.image_url %>
                  <%= image_tag @post.user.image_url(:thumb) , class:"mb-3 mt-3" %>
               <% else %>
                  <img class="rounded img-fluid" src="<%= gravatar_url(@post.user, { size: 100 }) %>" alt="">
               <% end %>
        </div>
        <div class="media-body ml-5 mb-3 mt-3 class-sm-9">
                  <%= @post.user.name%>
                  <%= @post.created_at %>
                  
                  <h5 class="mt-4"><%= @post.content %></h5>
                  
                  <% if current_user == @post.user %>
                  <%= link_to "投稿を編集する", edit_post_path(@post.user) %>
                   <%= link_to "メッセージを削除", @post, method: :delete, data: { confirm: "本当に削除してよろしいですか? "}, class:"" %>
                  <% end %>
                  
                   
                  
                     <%= form_with(model: @post.comments.build, local:true) do |f| %>
                        <div class="form-group">
                         <%= f.label :content, "コメント追加" %>
                         <%= f.text_field :content %>
                         <%= hidden_field_tag :user_id, current_user.id %>
                        <%= hidden_field_tag :post_id , @post.id %>
                        <%= f.submit "追加", class: "" %>
                       </div>
                    <% end %>
        </div>
    </div>
</div>
        
</div>
       
        
        
        
        
        
        
        
        
            